*{
    margin: 0;
    padding: 0;
}
:root{
    --primary:#0f3bb5;
    --secondary:#3aa2eb;
    --primary-light:#bae3ff;
    --gray:#f6f8f9;
}

body{
    background: white;
}
/*---------------
1.navbar
------------------*/
.navbar-brand{
    background: var(--primary);

}
.navbar-brand img{
    width:150px;
    height:60px;
    object-fit:contain;
    /*background: var(--primary);*/
}
.navbar-nav .nav-item {
    margin: 0 20px;
}
.navbar-nav .nav-item .nav-link{
    font-size: 18px;
    font-weight: 700;
    color: var(--primary);
}
.nav-icon{
    font-size: 18px;

}
.nav-icon.icon-social{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius:50%;
    color: #ffff;
    background: var(--primary);
}


.main__slide-image  .image-item{
    height:250px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin:0 20px;
}
.slick-prev:before {
    color: var(--primary) !important;
    /*background-color: #eee;*/
}
.slick-next:before {
    color: var(--primary) !important;
    /*background-color: #eee;*/
}

/*----------------------
3- banner
----------------------------*/
.main__no-criteria{
    background: var(--primary);
}
.main__no-criteria .no-criteria__img img{
    padding:20px;
    position: relative;
    height: 400px;
}
.main__no-criteria .no-criteria-img img{
    width:100%;
    height: 100%;
}
.main__rehydrate-faster{
    background: var(--primary);
}
.main__rehydrate-faster .rehydrate-faster__img{
    /*padding:20px;*/
    position: relative;
    height: 400px;
}
.main__rehydrate-faster .rehydrate-faster__img img{
    width:100%;
    height: 100%;
    object-fit:contain;
}
.main__pharmaceutical-corporation{
    background: var(--primary);
}
.main__pharmaceutical-corporation .pharmaceutical-corporation__img{
    /*padding:20px;*/
    position: relative;
    height: 400px;
}
.main__pharmaceutical-corporation .pharmaceutical-corporation__img > img{
    width:100%;
    height: 100%;
    object-fit:contain;

}

.slide__img-view .main__slide-image .image-item{
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    padding:10px;
    display: flex;
    align-items: center;
}
.slide__img-view .main__slide-image .image-item img{
    height:80%;
    object-fit: contain;
}
.nav-tabs{
    background: var(--secondary);
}
.tab-container .nav-item .nav-link {
    text-transform: uppercase;
    color: #ffffff;
    font-weight:700;
}
.tab-container .nav-item .nav-link.active{
    background:var(--primary-light);
    color: var(--primary);
    font-weight:700;
    border-radius:0;
}
.search-form{
    display: none;
}
.lang-switch{
    display: none;
}
.lang-container .switch-case{
    width:80px;
    height:30px;
    padding:5px;

    color: #3b3947;
    border-radius:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:600;
    background: var(--gray);
}
.close-switch,.close-search{
    color:var(--gray);
    cursor:pointer;
}
.close-switch:hover,.close-search:hover{
    color: var(--primary);
    cursor:pointer;
}
.search-input{
    height:30px;
    border-radius:30px;
    background: var(--gray);
}
.search-input::placeholder{
    color: #3b3947;
    font-weight:600;
}
.search-input:focus{
    background: var(--gray);
}
.close-search{
    color:var(--gray);
}
/*.main__banner-img{*/
/*    padding:20px;*/
/*    position: relative;*/
/*    height: 400px;*/
/*}*/
/*.main__banner-img img{*/
/*    width:100%;*/
/*    height: 100%;*/
/*}*/
/*.banner__text-title h2{*/
/*    font-size:15px;*/
/*}*/
/*.banner__text-title h1{*/
/*    font-size:18px;*/
/*}*/
/*.main__banner-text{*/
/*    color: #ffff;*/
/*    padding:20px;*/
/*    position: relative;*/
/*    height: 400px;*/
/*}*/

/*Binh cap nhat style index*/
a.navbar-brand
{
    background-color: #0a53be;
    height: 100%;
    width: 20%;
padding-top: 15px;
    padding-bottom: 15px;
}
a.navbar-brand img
{
margin-left: 20%;
}
header nav.navbar
{
}
.icon-social-group
{
    margin-right: 5%;
}

a
{
    text-decoration: none;

}
/*Footer*/
.footer-top
{
    background-color: #f6f8f9;
    background: url('../image/footer/rectangle1.png');
}
.footer-bottom
{
    padding-top:10px;
    background-color: #0f3bb5;
    color:white;
    padding-bottom: 30px;
}
.footer-bottom hr
{
    background-color: white;
}
.footer-top
{
    padding-top: 30px;
    padding-bottom: 30px;
}
li.menu-footer-item a
{
    text-decoration: none;
    color:black;
}
li.menu-footer-item
{
    list-style: none;
}
h1
{
    font-size: 30px;
}
h2
{
    font-size: 24px;
}
h3
{
    font-size: 20px;
}
h4
{
    font-size: 16px;
}
h5
{
    font-size: 14px;
}
h6
{
    font-size: 12px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
{
    margin-bottom: 10px;
    margin-top: 10px;
}
body {
    overflow-x: hidden !important;
}
button.navbar-toggler.collapsed {
    margin-right: 20px;
}
button:focus:not(:focus-visible) {
    outline: 0;
}
.navbar-light .navbar-toggler {
    color: rgb(0 0 0 / 0%);
    border-color: rgba(0,0,0,.1);

}
.navbar-toggler
{
    margin-right: 20px;
}


/*Responsive Global*/
/*// X-Small devices (portrait phones, less than 576px)*/
/*// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {

}

/*// Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {

}

/*// Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
    /*.container {*/
    /*    max-width: 98% !important;*/
    /*}*/
    a.navbar-brand
    {
        width: 50%;
    }
    .w-50 {
        width: 100% !important;
    }
    .footer-bottom div.col-sm-8
    {
        text-align: center;
        margin-bottom: 20px;
    }
    .footer-bottom div.col-sm-4
    {
        text-align: center;
    }
    i.fas.fa-search
    {
        padding-left: 20px !important;
        margin-bottom: 20px;
    }
    .header-main li.nav-item a
    {
        border-bottom: solid 1px #b3b3b3;
    }
}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {



}


